spf_jvms=hotspot,openj9
spf_java_versions=8,9
spf_appservers=jetty,tomcat,standalone
spf_modes=standard,container,shared
spf_heap_sizes=64,128,256,512,1024
spf_application=/spf/jar/app.jar
spf_ready_msg_standalone="Server:main: Started"
spf_ready_msg_jetty="Server:main: Started"
spf_ready_msg_tomcat="Deployment of web application archive"
spf_output_dir=$PWD/results
spf_tmp_dir=$PWD/tmp
